.callback-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  min-height: 300px;
  justify-content: center;
  text-align: center;
}

.callback-message {
  color: var(--coffee);
  font-size: 1.1rem;
}

.callback-error {
  color: red;
  font-size: 1.2rem;
  margin-top: 2rem;
}
